@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-bg-color: #e9e9e9;
    --primary-text-color: #424242;
    --accent-color: #ff3f3c;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 190px;
    font-weight: 900;
    text-transform: uppercase;
}

h3 {
    font-size: 64px;
    font-weight: 900;
}

main {
    background: url(images/polaroid.png) no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 1000px;
}

main h3 {
    text-align: center;
}

