@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-bg-color: #e9e9e9;
    --primary-text-color: #424242;
    --accent-color: #ff3f3c;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-size: 4em;
    font-weight: 900;
}

main {
    background: url(images/polaroid.png) no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 1000px;
}

main h3 {
    text-align: center;
}

.details ul li {
    list-style-type: none;
    margin: 20px 0;
    padding: 0 0 0 40px;
}

.details ul li.wifi {
    background: url(images/wifi-solid\ 1.svg) no-repeat center left;
}

.details ul li.cloud {
    background: url(images/cloud-arrow-up-solid\ 1.svg) no-repeat center left;
}
.details ul li.qr {
    background: url(images/qrcode-solid\ 1.svg) no-repeat center left;
}
.details ul li.share {
    background: url(images/photo-film-solid\ 1.svg) no-repeat center left;
}
